table {
    width: 90%;
    margin:1rem auto;
    text-align: center;
    border:groove;
 }

 h1 {
   font-weight: bold;
   text-align: center;
 }

 button {
    width: 60%;
    margin:1rem auto;
 }

 .contenedor {
    display: flex;
    flex-direction: column;
    margin:5rem auto;
    max-width: 600px;
    box-shadow: -1px 3px 66px 0px rgba(0,0,0,0.75);
    padding: 2rem;
    margin-left: 10%;
    margin-right: 0%; 
    text-align: center;
    font-weight: bold;
}

